/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* :root {
	--ion-color-primary: #0F172A;
	--ion-color-primary-rgb: 15,23,42;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #0d1425;
	--ion-color-primary-tint: #272e3f;
} */

/* variables.css */

/* 🌞 Tema claro */
:root {
  --ion-color-primary: #0F172A;
  --ion-color-primary-contrast: #F1F5F9;

  --ion-color-secondary: #38BDF8;
  --ion-color-secondary-contrast: #0F172A;

  --ion-color-tertiary: #E879F9;
  --ion-color-tertiary-contrast: #0F172A;

  --ion-color-success: #22C55E;
  --ion-color-success-contrast: #ffffff;

  --ion-color-warning: #FACC15;
  --ion-color-warning-contrast: #0F172A;

  --ion-color-danger: #F43F5E;
  --ion-color-danger-contrast: #ffffff;

  --ion-color-light: #F8FAFC;
  --ion-color-light-contrast: #0F172A;

  --ion-color-medium: #94A3B8;
  --ion-color-medium-contrast: #ffffff;

  --ion-color-dark: #0F172A;
  --ion-color-dark-contrast: #F1F5F9;
}

/* 🌚 Tema oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #38BDF8;
    --ion-color-primary-contrast: #0F172A;

    --ion-color-secondary: #818CF8;
    --ion-color-secondary-contrast: #0F172A;

    --ion-color-tertiary: #C084FC;
    --ion-color-tertiary-contrast: #0F172A;

    --ion-color-success: #4ADE80;
    --ion-color-success-contrast: #0F172A;

    --ion-color-warning: #FDE047;
    --ion-color-warning-contrast: #0F172A;

    --ion-color-danger: #F87171;
    --ion-color-danger-contrast: #0F172A;

    --ion-color-light: #ffffff; /* en dark, mejor un gris-azulado */
    --ion-color-light-contrast: #F1F5F9;

    --ion-color-medium: #64748B;
    --ion-color-medium-contrast: #F1F5F9;

    --ion-color-dark: #ffffff;
    --ion-color-dark-contrast: #F1F5F9;
  }
}

